<h1>User info</h1>
<!-- ユーザーの詳細 -->
        <!--<div>-->
        <!--     <table class="table">-->
                  <tr></tr>
                  <tr>
                    <td>商品</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>商品名</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>税込価格</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>ジャンル</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>ステータス</td>
                    <td></td>
                  </tr>
             </table>

                   <i class="fas fa-user-cog "></i>



        </div>