<h4>ようこそ、ながのCAKEへ！<br>
このサイトでは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</h4>
<h1>新着商品</h1>
<% @items.each do |item| %>
<div>
  <p>画像：<%= item.image_id %></p>
  <%= image_tag item.image, size: "200x200" %>

  <p>商品説明：<%= item.introduction %></p>
  <p>税込価格：<%= item.price  %></p>
</div>
<% end %>